bokeh==2.2.1
jinja2>=2.11.3
MarkupSafe==1.1.1
mpmath==1.1.0
numpy
packaging==20.4
Pillow>=9.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML>=5.4
six==1.15.0
sympy==1.6.2
tornado==6.0.4
typing-extensions==3.7.4.3
