/* amisaving styles */

h1 {
  text-align: center;
}

.bg-success {
  background-color: #7391C8 !important;
}

main {
  padding: 1em;
}

.badge {
  font-size: 1em;
}

.alert p {
  margin-bottom: 0;
}

/* Styling for dynamic solution */
.sol {
  font-size: 2em;
}

/* Side by side user input */
.parent {
  display: flex;
  justify-content: center;
}
.child {
  flex-basis: 50%;
}
