/* amisaving styles */

h1 {
  text-align: center;
}

.bg-success {
  background-color: #7391C8 !important;
}

main {
  padding: 1em;
}

.badge {
  font-size: 1em;
}

.alert p {
  margin-bottom: 0;
}

/* Styling for dynamic solution */
.sol {
  font-size: 2em;
}

.float-left {
  float: left;
  height: 300px;
  width: 100%;
}
.inn-cent {
  width: 100%;
  display: flex;
  justify-content: center;
}
