{% from macros import embed %}

<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="myapp/static/css/styles.css"/> 
    <!-- Here's a quick lil comment -->
    {% block inner_head %}
      <meta charset="utf-8">
      <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>

      {% block preamble %}{% endblock %}
      {% block resources %}
        {% block css_resources %}
          {{ bokeh_css | indent(8) if bokeh_css }}
        {% endblock %}
        {% block js_resources %}
          {{ bokeh_js | indent(8) if bokeh_js }}
        {% endblock %}
      {% endblock %}
      {% block postamble %}{% endblock %}
    {% endblock %}
  </head>
  {% endblock %}

  {% block body %}
  <body>
    <main>
        <h1><span class="badge rounded-pill bg-success">Am I Saving?</span></h1>
	<hr>
        <p class="lead">Should I invest in equipment to brew coffee at home or is it cheaper to buy coffee at Starbucks? Should I purchase a car or Uber everywhere? This calculator is meant to help you make these types of decisions.</p>

	<hr>

        <div class="alert alert-secondary" rolw="alert">
        <p>Let's focus on the coffee example. I have 2 options:</p>
        <ol>
          <li>Purchase equipment and brew at home.</li>
          <li>Don't buy any equipment and purchase a cup of coffee at Starbucks.</li>
        </ol>
        <p>
        For option 1, I would need to buy things like a kettle, a french press, and maybe some filters (let's say this all costs $60). Then, for each additional cup of coffee my only cost would be the coffee beans themselves (let's say $1 per cup). For option 2, I spend $0 on equipment but need to pay Starbucks for each cup of coffee (let's say $3). 
        </p>
	</div>

        <div class="alert alert-secondary" rolw="alert">
        <p>That's a lot of words! In summary...</p>  
        <ul>
          <li>Cost of equipment: The $60 I would spend on coffee equipment (filters, coffee machine, kettle, etc.).</li>
          <li>Cost per unit with equipment: The $1 I need to spend for each cup of coffee, if I buy equipment.</li>
          <li>Cost per unit without equipment: The $3 I need to spend for each cup of coffee I'd buy at Starbucks.</li>
        </ul>
	</div>

        <div class="alert alert-success" role="alert">
        Click the 'Draw!' button below to compare these two options! (If you'd like to autopopulate the numbers from the coffee example, simply refresh the page.) 
        </div>


    {% block inner_body %}
      {% block contents %}
        <div class="alert alert-primary" role="alert" style="float: left; width: 50%;">
          <h4 class="alert-heading">The situation where you don't buy any equipment.</h4>
          <hr>
          <p>Cost per unit </p>
          {{ embed(roots.var_input) }}
        </div>
        <div class="alert alert-danger" role="alert" style="float: left; width: 50%;">
          <h4 class="alert-heading">The situation where you do buy equipment.</h4>
          <hr>
          <p>Cost per unit </p>
          {{ embed(roots.slope_input) }}
          <p>Cost of equipment</p>
          {{ embed(roots.int_input) }}
        </div>
        <div class="alert alert-secondary" role="alert" style="clear: left;">
        {{ embed(roots.plot) }}
        </div>
      {% endblock %}

      {{ plot_script | indent(8) }}
    {% endblock %}

  </main>
  </body>
  {% endblock %}

</html>
