<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="wire_styles.css">
    </head>

    <body>
	<div id="scripty"></div>
      <header>
      Insert cool logo right here.
      </header>

      <nav>
        <ul>
	  <li>Home</li>
	  <li>About</li>
	  <li>Technical Details</li>
	</ul>
      </nav>

      <main>

        <h1>Am I saving?</h1>
        <h3>Should I invest in equipment to brew coffee at home, or is it cheaper to just buy coffee at Starbucks? Should I purchase a car or Uber everywhere? This calculator is meant to help you make these types of decisions.</h3>

        <p>Let's focus on the coffee example. I have 2 options:</p>
        <ol>
          <li>Purchase equipment and brew at home.</li>
          <li>Don't buy any equipment and purchase a cup of coffee at Starbucks.</li>
        </ol>
        <p>
        For option 1, I would need to buy things like a kettle, a french press, and maybe some filters (let's say this all costs $60). Then, for each additional cup of coffee my only cost would be the coffee beans themselves (let's say $1 per cup). For option 2, I spend $0 on equipment but need to pay Starbucks for each cup of coffee (let's say $3). 
        </p>

        <div id="summary">
          <p>That's a lot of words! In summary...</p>  
          <ul>
            <li>Cost of equipment: The $60 I would spend on coffee equipment (filters, coffee machine, kettle, etc.).</li>
            <li>Cost per unit with equipment: The $1 I need to spend for each cup of coffee, if I buy equipment.</li>
            <li>Cost per unit without equipment: The $3 I need to spend for each cup of coffee I'd buy at Starbucks.</li>
          </ul>
        </div>

        <div id="instructions">
        Click the 'Draw!' button below to compare these two options! (If you'd like to autopopulate the numbers from the coffee example, simply refresh the page.) 

        </div>

        <!-- Input fields --> 
        <!-- Draw button --> 

        <div id="solution">
        You'll save money by not spending it.
        </div>

        <!-- Bokeh Chart --> 
      </main>
    </body>
</html>
